<!-- CONTENEDOR PRINCIPAL -->
<div class="mainContainer">
    <!-- BARRA DE NAVEGACIÓN -->
    <div class="buttonBar">
            <button type="button" class="button btn btn-secondary">Finance your dream Home</button>
            <button type="button" class="button btn btn-secondary">The secret to selling your home</button>
            <button type="button" class="button btn btn-secondary">What is my home worth</button>
            <button type="button" class="button btn btn-secondary">New construction</button>
    </div>
    <!-- GALERÍA DE FOTOS PRINCIPAL -->
    <div class="galeryPhotosContainer">
        <div class="galeryPhoto">
                <div class="card">
                        <img src="../../assets/img/house2.jpg" class="images" alt="">
                        <p class="title">Beach house</p>
                        </div>
                <div class="card">
                        <img src="../../assets/img/house4.jpg" class="images" alt="">
                        <p class="title">Classic house</p>
                        </div>
                <div class="card">
                        <img src="../../assets/img/house11.jpg" class="images" alt="">
                        <p class="title">River house</p>
                        </div>
                <div class="card">
                        <img src="../../assets/img/house6.jpg" class="images" alt="">
                        <p class="title">City apartments</p>
                        </div>   
                <div class="card">
                        <img src="../../assets/img/house8.jpg" class="images" alt="">
                        <p class="title">Paradise House</p>
                        </div>      
                    </div>              
       </div>
       <!-- GALERÍA DE DETALLES -->
       <div class="detailsContainer">
               <div class="detailsProperty">
                       <div class="cardDetails" style="width: 18rem;">
                               <img src="../../assets/img/house5.jpg" class="card-img-top" alt="...">
                               <div class="card-body">
                                 <h5 class="card-title">House available</h5>
                                 <p class="card-text">USD 854.900</p>
                                 <a href="#" class="btn btn-primary">Go to buy</a>
                               </div>
                       </div>
                       <div class="cardDetails" style="width: 18rem;">
                               <img src="../../assets/img/house3.jpg" class="card-img-top" alt="...">
                               <div class="card-body">
                                 <h5 class="card-title">House available</h5>
                                 <p class="card-text">USD 1.405.600</p>
                                 <a href="#" class="btn btn-primary">Go to buy</a>
                               </div>
                       </div>
                       <div class="cardDetails" style="width: 18rem;">
                            <img src="../../assets/img/house5.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">House available</h5>
                              <p class="card-text">USD 1.405.600</p>
                              <a href="#" class="btn btn-primary">Go to buy</a>
                            </div>
                    </div>
                    <div class="cardDetails" style="width: 18rem;">
                            <img src="../../assets/img/house3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">House available</h5>
                              <p class="card-text">USD 1.405.600</p>
                              <a href="#" class="btn btn-primary">Go to buy</a>
                            </div>
                    </div>     
               </div>
   </div>
</div>

 
