<!--fOOTER  -->
<div class="footerPage">
    <h2>Latest blogs</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa quia laborum ipsa, molestiae
         voluptate distinctio nobis dolorem est nesciunt necessitatibus nihil qui debitis eos nulla omnis delectus ex labore blanditiis.</p>
    <hr>
    <p>CONTACT US</p>
    <p>Phone: 30004559595</p>
    <!-- LOGOS DEL PIE DE PÁGINA -->
    <div class="credits">
        <img class="logos"src="../../assets/img/logos.png" alt="">
    </div>
    <hr>

</div>

